---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Kalu Oji Osinachukwu
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/Osinachi007" target="_blank" class="font-bold">Kalu Oji Osinachukwu</a> with love
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://www.linkedin.com/in/osinachukwu-kalu-oji-566614141/?trk=opento_sprofile_topcard" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
